<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>反馈系统-首页</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1><a href="#">反馈系统</a> <small>首页</small></h1>
    </div>
    <div class="col-md-6">
        <div class="list-group">           
            <a href="#" class="list-group-item">周杰伦：今天天气真热</a>
			<a href="#" class="list-group-item">周杰伦：今天天气真热</a>
			<a href="#" class="list-group-item">周杰伦：今天天气真热</a>
        </div>
        <a href="#" class="btn btn-success">我要反馈</a>
    </div>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../public/js/index.js"></script>
</body>
</html>